* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter", sans-serif;
}

.card {
  background-color: hsl(0, 0%, 12%);
  padding: 25px;
  height: 460px;
  border-radius: 10px;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  font-size: 14px;
}

.image {
  margin-bottom: 10px;
  height: 78px;
  border-radius: 50%;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

button {
  width: 95%;
  color: white;
  background-color: hsl(0, 0%, 20%);
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.quote{
    margin-top: 20px;
    font-size: 12.5px;
    opacity: 0.8;
    letter-spacing: -0.3px;
}

.above{
    font-size: 22px;
}

.color{
    color: hsl(75, 94%, 57%);
}
